# ignore default
.vscode/
.git/
.gitignore

# ignore directories
dir_998_demo/
dir_999_other/
lib/
__resource__/
__backup__/
__tmp__/

# ignore files
__renamer.ipynb
__renamer__.ipynb
__readme__.ipynb

dir_001_book/dir_004_exam/
