dir_999_other/
javafx_sdk/
.vscode/
.git/
.gitignore
dir_005_my_example/
dir_005_my_demo/
lib/
__renamer.ipynb
__create_dir__.ipynb
__renamer__.ipynb
__readme__.ipynb
dir_006_i3_gtr_student_list_2024_2025/
dir_005_demo/007/mongo_db_for_admin.java
__resource__/
__backup__/
