/*styles.css*/

/* Styling for buttons */
.button {
    -fx-font-size: 14px;
    -fx-padding: 8px 12px;
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-border-color: #1E90FF;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #32CD32; /* Change color on hover */
}
